In [2]:
import pandas as pd
import glob

In [9]:
results = {}

In [11]:
c = pd.read_json('50q/testset-50q-eval-claude.jsonl', lines=True)
f = pd.read_json("50q/testset-50q-eval-falcon3.jsonl", lines=True)

results['claude-50q'] = c[['faithfulness_correct','relevance_correct']].mean()
results['falcon3-50q'] = f[['faithfulness_correct','relevance_correct']].mean()

In [12]:
c = pd.read_json('100q/testset-100q-eval-claude.jsonl', lines=True)
f = pd.read_json("100q/testset-100q-eval-falcon3.jsonl", lines=True)

results['claude-100q'] = c[['faithfulness_correct','relevance_correct']].mean()
results['falcon3-100q'] = f[['faithfulness_correct','relevance_correct']].mean()

In [13]:
r = pd.DataFrame(results)
r

                      claude-50q  falcon3-50q  claude-100q  falcon3-100q
faithfulness_correct        0.76     0.795918     0.773196          0.67
relevance_correct           0.79     0.816327     0.912371          0.78